.title-lg {
    font-size: 26px;
    padding: 10px 0px 20px 0px;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.padding-bottom {
    padding-bottom: 15px;
}
.db-color {
    color: #1e317a;
}
.btn-db {
    background-color: #253d9a;
    color: #fff;
}
.btn-db:hover {
    background-color: #1e317a;
    color: #fff;
}
.margin-right {
    margin-right: 5px;
}
