@CHARSET "ISO-8859-1";

.backgroundgray {
	background: #eff0f1;
	margin: 10px;
}

.empresacomborda {
	border-bottom: 1px solid Gainsboro;
	padding: 20px;
}

td, th {
	padding: 3px 1px;
}

.contact {
	margin-bottom: 20px;
}

h6 {
	font-size: 120%;
	color: #253d9a;
	font-weight: bold;
}

th {
	font-weight: bold;
	font-size: 95%;
}

nav {
	background-color: #1e317a;
}