<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
			<h:outputStylesheet library="css" name="tableStyle.css" />
			<nav>
				<div class="nav-wrapper">
					<h:form>
						<ul id="nav" class="right hide-on-med-and-down">
							<li><h:link value="Lista de Clientes"
									outcome="/listcompany/listcompany" /></li>
							<li><h:link value="Cadastro de Clientes" outcome="/customer/createCustomer" /></li>
						</ul>
					</h:form>
				</div>
			</nav>
	</ui:composition>
</h:body>
</html>