<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	<title><ui:insert name="title">DBConsultorias</ui:insert></title>
</h:head>
<h:body>
	<div id="header">
		<ui:insert name="header">
			<ui:include src="header.xhtml" />
		</ui:insert>
	</div>
	<ui:include src="menu.xhtml" />
	<div id="content">
		<ui:insert name="content" />
	</div>
	<div id="footer">
		<ui:insert name="footer">
			<ui:include src="footer.xhtml" />
		</ui:insert>
	</div>
</h:body>
</html>