<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"></link>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" />
</h:head>
<h:body>
    <div class="container">
        <ui:repeat value="#{userListMB.users}" var="user">
            <div>
                <h3>#{user.email}</h3>
                <div>User: #{user.id} - #{user.email}</div>
                <div>Role: #{user.role.id} - #{user.role.name}</div>
            </div>
        </ui:repeat>
    </div>
</h:body>
</html>