<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="content">
		<h:outputStylesheet library="css" name="style.css" />
		<div class="container">
			<h3>Cadastro da empresa</h3>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputLabel for="companyName" value="Nome da empresa:" />
					<h:inputText id="companyName" value="#{companyMB.name}" />

					<h:commandButton value="Salvar" icon="ui-icon-star"
						action="#{companyMB.save}" ajax="false">
					</h:commandButton>
				</h:panelGrid>
			</h:form>
			<c:if test="#{not empty companyMB.id}">
				<h:form>
					<h3>Cadastro de usuário da Empresa</h3>
					<h:inputHidden id="companyId" value="#{companyMB.id}" />

					<h:outputLabel for="userName" value="Nome do usuário:" />
					<h:inputText id="userName" value="#{userMB.name}" />

					<h:outputLabel for="userEmail" value="E-mail do usuário:" />
					<h:inputText id="userEmail" value="#{userMB.email}" />

					<h:commandButton value="Salvar" icon="ui-icon-star"
						action="#{userMB.createCustomer}" ajax="false">
					</h:commandButton>
				</h:form>
			</c:if>
		</div>
	</ui:define>
</ui:composition>
