<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<h:outputStylesheet library="css" name="tableStyle.css" />
		<h:outputScript library="js" name="functions.js" />

		<div class="row">
			<br></br>
			<div class="row">
				<div class="col s3 center-align">
					<h6>Clientes</h6>
				</div>
				<div class="col s2 center-align">
					<h6>CNPJ</h6>
				</div>
				<div class="col s2 center-align">
					<h6>Telefone</h6>
				</div>
				<div class="col s3 center-align">
					<h6>Local</h6>
				</div>
				<div class="col s2">
					<br></br>
				</div>
			</div>
			<div class="divider"></div>
			<br></br>
			<h:form>
				<ui:repeat value="#{companyMB.all}" var="company">
					<div>
						<div class="col s3 center-align">
							<h:outputText value="#{company.name}" />
						</div>
						<div class="col s2 center-align">
							<h:outputText value="#{company.cnpj}" />
						</div>
						<div class="col s2 center-align">
							<h:outputText value="#{company.phone}" />
						</div>
						<div class="col s3 center-align">
							<h:outputText value="#{company.address}, " />
							<h:outputText value="#{company.city}, " />
							<h:outputText value="#{company.cep}" />
						</div>
						<div class="col s1 center-align">
							<h:commandButton action="#{companyMB.removeCompany(company)}"
								image="/resources/img/remove.png" style="width:20px;"
								ajax="false" />
						</div>
						<div class="col s1 center-align">
							<h:graphicImage id="expand" value="/resources/img/down.png"
								onclick="toggleDetails(this);" width="20" height="20" />
						</div>
					</div>
					<div class="row">
						<div align="center">
							<h:outputText class="teste"
								value="Não há dados para serem exibidos!"
								rendered="#{empty companyMB.all}" />
						</div>
						<div class="col s12 highlight empresacomborda">
							<div class="col s1">
								<br></br>
							</div>
							<div class="col s7 backgroundgray">
								<h:dataTable id="details" value="#{company.listUsers}"
									var="user" style="display: none;">
									<f:facet name="header" class="contact"> Contatos:</f:facet>
									<h:column>
										<f:facet name="header">Username</f:facet>
										<h:outputText value="#{user.username}" />
									</h:column>
									<h:column>
										<f:facet name="header">Nome</f:facet>
										<h:outputText value="#{user.name}" />
									</h:column>
									<h:column>
										<f:facet name="header">Telefone</f:facet>
										<h:outputText value="#{user.phone}" />
									</h:column>
									<h:column>
										<f:facet name="header">Email</f:facet>
										<h:outputText value="#{user.email}" />
									</h:column>
									<h:column>
										<h:panelGroup style="display:block; text-align:right">
											<h:commandButton
												action="#{companyMB.removeUserFromCompany(company,user)}"
												image="/resources/img/remove.png" style="width:20px;" />
										</h:panelGroup>
									</h:column>
								</h:dataTable>
							</div>
						</div>
					</div>
				</ui:repeat>
			</h:form>
		</div>

	</ui:define>
</ui:composition>