<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"></link>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

	<title>Login</title>
</h:head>
<h:body style="background-color: #f5f5f5;">
	<div class="corpo"
		style="margin-top: 125px; margin-left: auto; margin-right: auto; background-color: #fff; width: 400px; height: 450px; border-radius: 10px;">
		<div class="logo"
			style="padding-top: 20px; margin-left: 22%; margin-right: auto;">
			<img src="http://www.dbserver.com.br/images/LogoDB.png"
				alt="Logo dbServer" width="210" />

		</div>


		<div class="login" style="margin-bottom: 10px; width: 350px;">
			<h:form id="register">

				<h:message for="RegisterGroupPanel" style="color:red;" />

				<h:panelGrid columns="3" id="RegisterGroupPanel">

					<h:outputLabel for="username" value="Usuário : " />
					<h:inputText id="username" value="#{loginMB.username}"
						pt:placeholder="Digite seu usário." required="true"
						requiredMessage="Digite o usuário." />
					<h:messages for="username" style="color: red;"/>

					<h:outputLabel for="password" value="Senha : " />
					<h:inputSecret id="password" maxlength="6"
						value="#{loginMB.password}" pt:placeholder="Digite sua Senha."
						required="true" requiredMessage="Digite a senha.">
						<f:attribute name="confirmPassword" value="#{confirmPassword}" />
					</h:inputSecret>
					<h:message for="password" style="color: red;"/>
					

				</h:panelGrid>
				
				<!--  <div class="msgDeErro" align="center" style="margin-top: 0px;" >
				<h:messages globalOnly="true" style="color: red"/>
				</div>-->
				
				
				<div class="botao" align="center" style="margin-top: 5px;">
					<h:messages globalOnly="true" style="color: red"/>
					<h:commandButton class="btn" id="logar"
						style=" background-color:#1e317a !important;"
						action="#{loginMB.login}" value="Entrar">
						</h:commandButton>
				</div>

			</h:form>
		</div>
	</div>

</h:body>



</html>
