<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<ui:define name="content">
		<h:outputStylesheet library="css" name="default.css" />
		<h:outputStylesheet library="css" name="materialize-override.css" />
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="row">
						<div class="input-field col s12 m12 l12">
							<span class="title-lg db-color">Adicionar contatos</span>
						</div>
					</div>
					<h:form class="padding-bottom">

						<div class="row">
							<h:inputHidden id="companyid" value="1" />

							<div class="input-field col s12 m4 l4">
								<h:inputText id="username" class="validate"
									value="#{userMB.username}" pt:placeholder="Somente letras" />
								<h:outputLabel for="username" value="Username" />
							</div>

							<div class="input-field col s12 m4 l4">
								<h:inputText id="email" class="validate" value="#{userMB.email}" />
								<h:outputLabel for="email" value="E-mail" />
							</div>

							<div class="input-field col s12 m4 l4">
								<h:inputText id="phone" class="validate" value="#{userMB.phone}" />
								<h:outputLabel for="phone" value="Telefone" />
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 m12 l12">
								<h:inputText id="name" class="validate" value="#{userMB.name}" />
								<h:outputLabel for="name" value="Nome do contato" />
							</div>
						</div>

						<div class="input-field col s12 m12 l12">
							<h:commandButton
								styleClass="btn waves-effect waves-light right btn-db"
								action="#{userMB.createCustomer}" value="Adicionar" ajax="false">
							</h:commandButton>
						</div>

					</h:form>
					<div class="row">
						<div class="col s12 m12 l12">
							<table class="highlight bordered responsive-table">
								<thead>
									<tr>
										<th data-field="username">Username</th>
										<th data-field="name">Nome</th>
										<th data-field="phone">Telefone</th>
										<th data-field="email">E-mail</th>
										<th class="center-align" data-field="price">Ações</th>
									</tr>
								</thead>

								<tbody>
									<ui:repeat value="#{userMB.usersByCompanyId}" var="user">
										<tr>
											<td><h:outputText value="#{user.username}" /></td>
											<td><h:outputText value="#{user.name}" /></td>
											<td><h:outputText value="#{user.phone}" /></td>
											<td><h:outputText value="#{user.email}" /></td>
											<td class="center-align"><a
												class="blue-text margin-right" href="#"
												title="Editar contato">
												
												<i class="fa fa-edit" aria-hidden="true"></i>
												
												</a> <a class="red-text" href="#"
												title="Excluir contato"><i class="fa fa-trash"
													aria-hidden="true"></i></a></td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
