<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="content">
		<h:outputStylesheet library="css" name="default.css" />
		<h:outputStylesheet library="css" name="materialize-override.css" />
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="row">
						<div class="input-field col s12 m12 l12">
							<span class="title-lg db-color">Cadastro de Cliente</span>
						</div>
					</div>
					<h:form styleClass="padding-bottom">
						<div class="row">
							<div class="input-field col s12">
								<h:inputText id="name" class="validate"
									value="#{companyMB.name}" />
								<h:outputLabel for="name" value="Nome do cliente" />
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<h:inputText id="cnpj" class="validate"
									value="#{companyMB.cnpj}" />
								<h:outputLabel for="cnpj" value="CNPJ" />
							</div>
							<div class="input-field col s6">
								<h:inputText id="phone" class="validate"
									value="#{companyMB.phone}" />
								<h:outputLabel for="phone" value="Telefone" />
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<h:inputText id="address" class="validate"
									value="#{companyMB.address}" />
								<h:outputLabel for="address" value="Endereço" />
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<h:inputText id="cep" class="validate"
									value="#{companyMB.cep}" />
								<h:outputLabel for="cep" value="CEP" />
							</div>
							<div class="input-field col s6">
								<h:inputText id="city" class="validate"
									value="#{companyMB.city}" />
								<h:outputLabel for="city" value="Cidade" />
							</div>
						</div>

						<div class="input-field col s12 m12 l12">
							<h:commandButton styleClass="btn waves-effect waves-light right btn-db"
								action="#{companyMB.save}" value="Salvar" ajax="false">
							</h:commandButton>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
