<ui:composition template="WEB-INF/templates/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="content">
		<!-- Default page -->
		Bem Vindo
	</ui:define>
</ui:composition>